{% extends 'base_dashboard.html' %}
{% block content %}
    <div class='container mt-5'>
        {% if entryGroup.count == 0 %}
            <div class="alert alert-info text-center py-4" role="alert">
                現在、参加しているグループはありません
            </div>
        {% else %}
            <table class="table col-5 m-auto">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">参加グループ</th>
                    </tr>
                </thead>
                <tbody>
                    {% for group in entryGroup %}
                        <tr>
                            <td class='text-center'>
                                <a href='{% url 'groupDetail' group.groupId.groupId %}' class='text-reset'>
                                    {{ group.groupId.groupName }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock content %}