{% extends 'base_group.html' %}
    {% block content2 %}
        <div>
            <div class='alert alert-primary text-center mt-5 col-4 mx-auto'>
                <a class='text-reset' href='{% url 'groupInformationList' group.groupId %}'>
                    お知らせ
                </a>
            </div>
            <div>
            {% if groupInformationCount == 0 %}
                <div class='text-center alert alert-primary mx-auto mt-4'>現在、お知らせはないです</div>
            {% else %}
                <table class='table'>
                    {% for info in groupInformation %}
                    <tr>
                        <td class=''>
                            <a href='{% url 'groupInformationDetail' info.pk %}' class='text-reset ml-4'>
                                {{info.informationTitle}}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            {% endif %}
            <div>
        </div>
    {% endblock content2 %}