{% extends 'base_dashboard.html' %}
{% block content %}
    <div class='container'>
        <form class='form-signin container mt-5 col-5' method='post'>
            {% csrf_token %}
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">Add Information</h1>
                <p class='text-danger'>{{error}}</p>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Information Title</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" name='title' value='{{ information.informationTitle }}'>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Information Content</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="8" name='content' style='resize:none'>{{ information.informationText }}</textarea>
            </div>
            <button class="btn btn-lg btn-primary btn-block my-4" type="submit">EDIT</button>
        </form>
    </div>
{% endblock content %}