{% extends 'base_manageGroup.html' %}
{% block content2 %}
    {% if aionsCount == 0 %}
            <div class="alert alert-info text-center py-4 mt-5" role="alert">
                現在、提出されている行動履歴はありません
            </div>
        {% else %}
            <div style='height:500px' class='mt-5'>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">開始</th>
                            <th scope="col">終了</th>
                            <th scope="col">場所</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for log in actions %}
                            <tr>
                                <td class='text-left'>
                                    <a href='{% url 'adminGroupActionDetail' mgtGroup.groupId log.pk %}' class='text-reset'>
                                        {{ log.departureTime }}
                                    </a>
                                </td>
                                <td class='text-left'>
                                    <a href='{% url 'adminGroupActionDetail' mgtGroup.groupId log.pk %}' class='text-reset'>
                                        {{ log.goHomeTime }}
                                    </a>
                                </td>
                                <td class='text-left text-truncate'>
                                    <a href='{% url 'adminGroupActionDetail' mgtGroup.groupId log.pk %}a' class='text-reset'>
                                        {{ log.place }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if pageCount.stop == 1 %}
            {% else %}
                <nav aria-label="Page navigation example" class='col-6 mx-auto my-5'>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link text-reset" href="?page={{ previousPage }}">Previous</a></li>
                        {% for c in pageCount %}
                            <li class="page-item"><a class="page-link text-reset" href="?page={{forloop.counter}}">{{ forloop.counter }}</a></li>
                        {% endfor %}
                        <li class="page-item"><a class="page-link text-reset" href="?page={{ nextPage }}">Next</a></li>
                    </ul>
                </nav>
            {% endif %}
        {% endif %}
{% endblock content2 %}