{% extends 'base_dashboard.html' %}
{% block header %}
{% endblock header %}
{% block content %}
    <div class='container mt-5'>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">開始</th>
                    <th scope="col">終了</th>
                    <th scope="col">場所</th>
                    <th scope="col">理由</th>
                    <th scope="col">備考</th>
                </tr>
            </thead>
            <tbody>
                {% for log in myLogs %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ log.departureTime }}</td>
                        <td>{{ log.goHomeTime }}</td>
                        <td>{{ log.place }}</td>
                        <td>{{ log.reason }}</td>
                        <td>{{ log.remarks }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}